doctype html
html#lol404(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Error 404 (No encontrado)
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    .container
      .row.align-items-center
        .col
          img#banner404(src='/images/logo/banner (1).png', alt='')
          .col.lead
            br
            h2
              | 404
              mark.text-muted Ha ocurrido un error.
            hr
            p
              | La URL solicitada no ha sido encotrada en éste servidor. 
              strong.text-muted Eso es todo lo que sabemos.
            br
            br
            br
            small.text-muted ©Sentio 2018
        .row
          .col
            img#donko(src='/images/img/Burla_hacia_abajo_de_Donkey_Kong_SSBB.png', alt='')
      .col-md-3
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
