doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Sentio
    link(rel='icon', type='image/png', href='images/logo/icon.png')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href='stylesheets/dashboard.css', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.sticky-top
      a.navbar-brand
        img(src='images/logo/simple banner.png', alt="Sentio's logo", width='190vw')
      button.navbar-toggler.bg-toogler(type='button', data-toggle='collapse', data-target='#collapse_target', aria-controls='collapse_target', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #collapse_target.collapse.navbar-collapse
        ul.navbar-nav.ml-md-auto
          li.nav-item
            img.d-flex.justify-content-between.align-items-center.img-radius(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NDg0MDU0NzYwMjI4MzY3/usa---violence---dylan-klebold.jpg', width='42', height='42')
          li.nav-item
            a.nav-link.sidebar-heading.text-muted.name-style(href='#') Dylan Klebold
          li.nav-item
            a.btn.btn-outline-primary(href='../Profile/profile.html') Mi perfil
          li.nav-item
            .btn-group
              i.fas.fa-ellipsis-v.menu-style-icona(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='#') Regular link
                a.dropdown-item(href='#') Active link
                .dropdown-divider
                a.dropdown-item(href='../../index.html') Cerrar Sesión
    .container
      .fluid-container
        .main.row.margin-top2
          nav.navi
            ul.lista.col-md-12
              li
                a(href='#')
                  img(src='images/tools/baseline_home_black_18dp.png', alt='Inicio')
              li
                a(href='#')
                  img(src='images/tools/baseline_notifications_black_18dp.png', alt='Notificaciones')
              li
                a(href='#')
                  img(src='images/tools/baseline_forum_black_18dp.png', alt='Mensajes')
              li
                a(href='#')
                  form.form-inline.mt-2.mt-md-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
      main.main.row
        section.col-md-9
          .album.py-5.bg-album
            .container
              .row
                .col-md-12
                  .card.mb-4.shadow-sm
                    h2.text-center DESPACITO 2
                    article.text-center
                      | Lorem ipsum dolor sit amet consectetur adipisicing
                      | elit. Excepturi autem
                      | aspernatur nisi! Rem asperiores repellendus sint omnis quo nihil soluta!
                #lol.card.flex-md-row.mb-4.shadow-sm.h-md
                  .card-body.d-flex.flex-column.align-items-start
                    p.text-dark Contenido del post
                    .mb-1.text-muted Nov 12
                    p.card-text.mb-auto
                      | Lorem, ipsum dolor sit amet consectetur adipisicing
                      | elit. Error blanditiis, eum ipsum quibusdam ullam a quasi iure expedita iusto
                      | officiis, officia laborum quos praesentium nam? Tempora corrupti consectetur,
                      | illo id explicabo quos? Impedit ad sit vitae repudiandae obcaecati. Molestias
                      | culpa excepturi non consequuntur aliquid odio nemo sunt laborum accusamus.
                      | Inventore excepturi ducimus reiciendis ad eum quos dolorum perspiciatis quod,
                      | totam nihil nesciunt voluptate assumenda, distinctio vel nisi, eos nostrum
                      | facilis eius voluptas modi hic praesentium. Sequi laudantium sapiente magni
                      | ducimus, facilis, recusandae at laborum vitae accusamus a natus cupiditate
                      | saepe.
                .col-md-12
                  #lol.card.flex-md-row.mb-4.shadow-sm.h-md
                    .card-body.d-flex.flex-column.align-items-start
                      h4 COMENTARIO 1 
                      .mb-1.text-muted Nov 12
                      p.card-text.mb-auto
                        | Lorem, ipsum dolor sit amet consectetur adipisicing
                        | elit. Error blanditiis, eum ipsum quibusdam ullam a quasi iure expedita iusto
                        | officiis, officia laborum quos praesentium. Sequi laudantium sapiente magni
                        | ducimus, facilis, recusandae at laborum vitae accusamus a natus cupiditate
                        | saepe.
                .col-md-12
                  #lol.card.flex-md-row.mb-4.shadow-sm.h-md
                    .card-body.d-flex.flex-column.align-items-start
                      h4 COMENTARIO 2 
                      .mb-1.text-muted Nov 12
                      p.card-text.mb-auto
                        | Lorem, ipsum dolor sit amet consectetur adipisicing
                        | elit. Error blanditiis, eum ipsum quibusdam ullam a quasi iure expedita iusto
                        | officiis, officia laborum quos praesentium. Sequi laudantium sapiente magni
                        | ducimus, facilis, recusandae at laborum vitae accusamus a natus cupiditate
                        | saepe.
        .col-md-3.side-style
          ul.navbar-nav.mr-auto.sidebar-sticky
            li.nav-item
              a.nav-link.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                | Mis
                | amigos conectados
              #myCarousel.carousel.slide.bg-album(data-ride='carousel')
                .carousel-inner
                  .carousel-item.active
                    a(href='')
                      img.second-slide.friends(src='http://ultimafoto.info/wp-content/uploads/2017/01/testamento-augusto-pinochet-300x300.jpg', alt='First slide')
                      |  Augusto Pinochet
                  .carousel-item
                    a(href='')
                      img.second-slide.friends(src='https://static.tvtropes.org/pmwiki/pub/images/lex_luthor_justice_league.jpg', alt='Second slide')
                      |  Lex Luthor
                  .carousel-item
                    a(href='')
                      img.second-slide.friends(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE4MDAzNDEwNDY4Mzc0MDMw/george-w-bush-9232768-1-402.jpg', alt='Third slide')
                      |  George Bush
                  .carousel-item
                    a(href='')
                      img.second-slide.friends(src='https://www.birthdaycelebs.com/wp-content/uploads/people/frank-filthy-image.jpg', alt='Third slide')
                      |  Filthy Frank
                  .carousel-item
                    a(href='')
                      img.second-slide.friends(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTUyMjgxNzQwMDkyNjQ2ODk2/gettyimages-888179100_luis-fonsi.jpg', alt='Third slide')
                      |  Luis Fonsi
                  .carousel-item
                    a(href='')
                      img.second-slide.friends(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg', alt='')
                      |  Barack Obama
                a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.sr-only Previous
                a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.sr-only Next
            li.nav-item
              h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Lista de reproducción
              ul.playlist
                li
                  a(href='#') Canción1
                li
                  a(href='#') Canción2
                li
                  a(href='#') Canción3
                li
                  a(href='#') Canción4
                li
                  a(href='#') Canción5
            li.nav-item
              h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Mis foros
              ul.playlist
                li
                  a(href='#') Foro 1
                li
                  a(href='#') Foro 2
                li
                  a(href='#') Foro 3
                li
                  a(href='#') Foro 4
            li.nav-item.smooth-scroll
              br
              .dropdown-divider
              a.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1(href='#')
                span Volver arriba
      hr
    .container
      footer.pt-4.my-md-5.pt-md-5.border-top
        .row
          .col-12.col-md
            img.mb-2(src='images/logo/logo.png', alt='', width='30', height='30')
            small.d-block.mb-3.text-muted © Sentio-2018
          .col-6.col-md
            h5 Features
            ul.list-unstyled.text-small
              li
                a.text-muted(href='#') Cool stuff
              li
                a.text-muted(href='#') Random feature
              li
                a.text-muted(href='#') Team feature
              li
                a.text-muted(href='#') Stuff for developers
              li
                a.text-muted(href='#') Another one
              li
                a.text-muted(href='#') Last time
          .col-6.col-md
            h5 Resources
            ul.list-unstyled.text-small
              li
                a.text-muted(href='#') Resource
              li
                a.text-muted(href='#') Resource name
              li
                a.text-muted(href='#') Another resource
              li
                a.text-muted(href='#') Final resource
          .col-6.col-md
            h5 About
            ul.list-unstyled.text-small
              li
                a.text-muted(href='#') Team
              li
                a.text-muted(href='#') Locations
              li
                a.text-muted(href='#') Privacy
              li
                a.text-muted(href='#') Terms
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
