doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Sentio | Feel the music - Enjoy the moments
    link(rel='icon', type='image/png', href='images/logo/icon.png')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href='stylesheets/dashboard.css', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
  body#Imagen-bg
    nav.navbar.navbar-expand-md.sticky-top.bg-light
      a.navbar-brand(href='/users/inicio', type='submit')
        img(src='images/logo/banner (1).png', alt="Sentio's logo", width='260vw')
      button.navbar-toggler.bg-toogler(type='button', data-toggle='collapse', data-target='#collapse_target', aria-controls='collapse_target', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #collapse_target.collapse.navbar-collapse
        ul.navbar-nav.ml-md-auto
          li.nav-item
            a.btn.btn-outline-success.btn-lg(href='/users/registro') Registrarse
    br
    br
    .container
      .main.row.text-center
        .col-md-4
          .text-center
            form.form-signin(method='POST' action='/users/signin' name='Form' id='Form')
              h1.h3.mb-3.font-weight-normal Inicia sesión
              label.sr-only(for='inputEmail') Email address
              input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='', name='correo')
              label.sr-only(for='inputPassword') Password
              input#inputPassword.form-control(type='password', placeholder='Password', required='', name='contrasenia')
              .checkbox.mb-3
                label
                  input(type='checkbox', value='remember-me')
                  |  Remember me
              
              input(type="submit" class="btn btn-lg btn-primary btn-block" value="signin")
              br
              br
              br
              p FEEL THE MUSIC - ENJOY THE MOMENTS
        .col-md-8
          article.novedades
            .canciones
              .top
                h2.encabezado LAS 3 MÁS ESCUCHADAS
              div#player
                img#art.cover(src='')
                .trackinfo
                  p#title
                  p#artist
                #track
                  #progress
                  #handler
                .container
                  .info
                    .cont
                      button#prev.nav
                        i.fas.fa-backward
                      button#play.nav
                        i.fas.fa-play
                      button#next.nav
                        i.fas.fa-forward
      // /.row
    footer.footer
      .footer
        a(href='#') Sobre nosotros
        a(href='#') Información de contacto
        a(href='#') Ayuda
        h5#cr © 2018 Sentio
    
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
