
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
[role=button]{
    cursor: pointer;
}
.contenedor{
    /*background-color: #E9EBEE;*/
    background-color: #DBDFE8;
}
/*Banner*/
.blue-bar{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: #040C22;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.5);
}

#Banner-simplificado{
    width: 5%;
    margin-left: 3.4%;
    margin-top: 1.4%;
    margin-bottom: 1%;
}
/*Perfil*/
.perfil{
    margin-top: 2%;
    margin-left: 10%;
    display: flex;
    color: white;
}

.img-perfil>img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.Profile{
    display: grid;
    padding-top: 0;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
}
#profile{
    padding-top: 0;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
}
#name{
    font-size: 125%;
    font-family: 'Oswald', sans-serif;
}
.menu{
    margin-top: 2%;
}

.ContenidoPrincipal{
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;
}
/*Aside*/
input#Search-Friends{
    padding: 1%;
    background-color: #101c3c;
    border: 1px solid #040C22;
    color: white;
}
.SearchDiv{
    display: flex;
    justify-content: center;
    margin: 4%;
}
.buscadorF hr{
    border: 1px solid #040C22;
}
#BuscarAmigosBoton{
    background-color: #040C22;
    border: 1px solid #040C22;
    border-left: none;
    width: 40px;
    cursor: pointer;    
}
#BuscarAmigosBoton>img{
    width: 14px;
    height: 14px;
}
.Interes{
    position: fixed;
    z-index: 100;
    right: 0;
    border: 2px solid #badeff;
    background-color: #d1e2ec;
    border-radius: 25px;
    margin-top: 6.5%;
    width: 20%;
}

.amigos{
    margin: 5%;
    border: 2px solid #4F5D73;
    background-color: #4F5D73;
    border-radius: 25px;
}
/*
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	background: white;
	height: 50px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 50px;
}
	.slider::before,
	.slider::after {
		content: "";
		height: 50px;
		position: absolute;
		width: 50px;
		z-index: 2;
	}
	
	.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	.slider::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(50px * 14);
	}
	
	.slide {
		height: 50px;
		width: 50px;
	}
*/

/*Carrousel*/
.slide-track{
    display: flex;
}
.slide>a>img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    height: 100%;
    padding-left: 10px; 
}
.slider{
    display: flex;
    position: relative;
    width: 200px;
    height: 54px;
    overflow-x: hidden;
    overflow: hidden;
    padding-top: 1%;
}
.Mover{
    top: 95px;
    position: absolute;
    right: 15px;
    left: 220px;
}
/*Carrousel FIN*/

.canciones{
    color: white;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #042220;
    background-color: #042220;
    border-radius: 25px;
    margin: 5%;
}
.foros{
    color: white;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #0E7871;
    background-color: #0E7871;
    border-radius: 25px;
    margin: 5%;
}

/*Barra de navegación*/
.nav{
    margin-top: 10%;
    margin-bottom: 5%;
}
.lista{
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    margin-left: 50px;
    margin-right: 50px;
}

.lista>li{
    border: 2px solid rgb(110, 99, 99);
    background-color: rgb(110, 99, 99,0.4);
 }
 #Search{
     width: 100%;
 }
 .Busqueda{
     display: flex;
 }
/*Fin Barra navegaciòn*/
.seccion-principal{
    border: 2px solid black;
    margin: 50px;   
    background-color: white;
}

/*Footer*/
div.footer{
    background-color: #0E1833;
    color: 	#505050;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
#Fitem>a{
    color: 	#505050;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
ul.footer{
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
    align-items: center;
}
#Fitem-logo>img{
    padding-left: 30%;
    width: 25px;
    height: 25px;
}