* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

.header{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.5);
}

img#logo{
    width: 50%;
}
a.registro{
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: #0E7871;
    border: 2px solid #0E7871;
    border-radius: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.3em;  
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;

}
a.registro:hover{
    display: flex;
    justify-content: center;
    font-size: 23px;
    background-color: #0E7871;
    color: #ffffff;
    border: 2px solid #0E7871;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.3em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
}

.background{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.footer{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: #031920;
    padding-bottom: 2em;
}