doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Sentio
  link(rel='icon', type='image/png', href='images/logo/icon.png')
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  link(href='/stylesheets/dashboard.css', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
nav.navbar.navbar-expand-md.sticky-top
  a.navbar-brand
    img(src='/images/logo/simple banner.png', alt="Sentio's logo", width='190vw')
  button.navbar-toggler.bg-toogler(type='button', data-toggle='collapse', data-target='#collapse_target', aria-controls='collapse_target', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #collapse_target.collapse.navbar-collapse
    ul.navbar-nav.ml-md-auto
      li.nav-item
        img.d-flex.justify-content-between.align-items-center.img-radius(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NDg0MDU0NzYwMjI4MzY3/usa---violence---dylan-klebold.jpg', width='42', height='42')
      li.nav-item
        a.nav-link.sidebar-heading.text-muted.name-style(href='#') Dylan Klebold
      li.nav-item
        a.btn.btn-outline-primary(href='/users/profile') Mi perfil
      li.nav-item
        .btn-group
          i.fas.fa-ellipsis-v.menu-style-icona(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href='#') Regular link
            a.dropdown-item(href='#') Active link
            .dropdown-divider
            a.dropdown-item(href='/users/index.html') Cerrar Sesi&oacute;n
.container
  .fluid-container
    .main.row.margin-top2
      nav.navi
        ul.lista.col-md-12
          li
            a(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
              img(src='/images/tools/baseline_create_black_18dp.png', alt='Post')
          li
            a(href='#')
              img(src='/images/tools/baseline_notifications_black_18dp.png', alt='Notificaciones')
          li
            a(href='#')
              img(src='/images/tools/baseline_forum_black_18dp.png', alt='Mensajes')
          li
            a(href='#')
              form.form-inline.mt-2.mt-md-0
                input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  .postbox.main.row
    .container
      #collapseExample.posti.col-md-12.collapse.card.card-body
        form(action="/users/inicio",method="post" name="postForm" id="name")
          input.form-control.mr-sm-2(type='text', placeholder='Title', aria-label='Search',name='nombre')
          input.form-control.mr-sm-2(type='text', placeholder='What are your listening to?', aria-label='Search',name='contenido')
          .input-group.mb-3
            .input-group-prepend
              span#basic-addon3.input-group-text
                i.far.fa-image  Paste your image url
          input#basic-url.form-control(type='text', aria-describedby='basic-addon3',name='rutaImagen')
          input(type="submit" value="registrar")
      br
  main.main.row
    section.col-md-9
      .album.py-5.bg-album
        .container
          .row
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://puregaming.es/wp-content/uploads/2018/01/donkey-kong.jpg', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://www.nintenderos.com/wp-content/uploads/2018/06/74220582.jpg', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://as01.epimg.net/meristation/imagenes/2010/06/16/album/1276669080_669080_000001_album_normal.jpg', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://donkeykong.nintendo.com/tropical-freeze/assets/img/home/hero-crew-2.png', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://vignette.wikia.nocookie.net/ssbb/images/c/c9/Donkey_Kong_SSBU.png/revision/latest?cb=20180613002057&path-prefix=es', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://vignette.wikia.nocookie.net/yoshi/images/d/d6/DK_DKCR.png/revision/latest?cb=20140204172055', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://image.redbull.com/rbcom/052/2018-05-11/2e6c7b4c-d532-47b7-8c0c-cead140c0a9b/0100/0/1/dk.jpg', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://vignette.wikia.nocookie.net/punchout/images/9/94/Character-wii-dk.jpg/revision/latest?cb=20150206045918', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
            .col-md-4.tarjeta
              .card.mb-4.shadow-sm
                img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', src='https://pbs.twimg.com/profile_images/983861151812300800/4Giq5J6B_400x400.jpg', alt='Card image cap')
                .card-body
                  a.sidebar-heading.text-muted(href='#')
                    strong Donkey Kong
                  hr
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Comentar
                      button.btn.btn-sm.btn-outline-secondary(type='button') Me gusta
                    small.text-muted 9 mins
    .col-md-3.side-style
      ul.navbar-nav.mr-auto.sidebar-sticky
        li.nav-item
          a.nav-link.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            | Mis
            | amigos conectados
          #myCarousel.carousel.slide.bg-album(data-ride='carousel')
            .carousel-inner
              .carousel-item.active
                a(href='')
                  img.second-slide.friends(src='http://ultimafoto.info/wp-content/uploads/2017/01/testamento-augusto-pinochet-300x300.jpg', alt='First slide')
                  |  Augusto Pinochet
              .carousel-item
                a(href='')
                  img.second-slide.friends(src='https://static.tvtropes.org/pmwiki/pub/images/lex_luthor_justice_league.jpg', alt='Second slide')
                  |  Lex Luthor
              .carousel-item
                a(href='')
                  img.second-slide.friends(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE4MDAzNDEwNDY4Mzc0MDMw/george-w-bush-9232768-1-402.jpg', alt='Third slide')
                  |  George Bush
              .carousel-item
                a(href='')
                  img.second-slide.friends(src='https://www.birthdaycelebs.com/wp-content/uploads/people/frank-filthy-image.jpg', alt='Third slide')
                  |  Filthy Frank
              .carousel-item
                a(href='')
                  img.second-slide.friends(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTUyMjgxNzQwMDkyNjQ2ODk2/gettyimages-888179100_luis-fonsi.jpg', alt='Third slide')
                  |  Luis Fonsi
              .carousel-item
                a(href='')
                  img.second-slide.friends(src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg', alt='')
                  |  Barack Obama
            a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
        li.nav-item
          h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Lista de reproducci&oacute;n
          ul.playlist
            li
              a(href='#') Canci&oacute;n1
            li
              a(href='#') Canci&oacute;n2
            li
              a(href='#') Canci&oacute;n3
            li
              a(href='#') Canci&oacute;n4
            li
              a(href='#') Canci&oacute;n5
        li.nav-item
          h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Mis foros
          ul.playlist
            li
              a(href='#') Foro 1
            li
              a(href='#') Foro 2
            li
              a(href='#') Foro 3
            li
              a(href='#') Foro 4
        li.nav-item.smooth-scroll
          br
          .dropdown-divider
          a.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1(href='#')
            span Volver arriba
  hr
.container
  footer.pt-4.my-md-5.pt-md-5.border-top
    .row
      .col-12.col-md
        img.mb-2(src='/images/logo/logo.png', alt='', width='30', height='30')
        small.d-block.mb-3.text-muted &copy; Sentio-2018
      .col-6.col-md
        h5 Features
        ul.list-unstyled.text-small
          li
            a.text-muted(href='#') Cool stuff
          li
            a.text-muted(href='#') Random feature
          li
            a.text-muted(href='#') Team feature
          li
            a.text-muted(href='#') Stuff for developers
          li
            a.text-muted(href='#') Another one
          li
            a.text-muted(href='#') Last time
      .col-6.col-md
        h5 Resources
        ul.list-unstyled.text-small
          li
            a.text-muted(href='#') Resource
          li
            a.text-muted(href='#') Resource name
          li
            a.text-muted(href='#') Another resource
          li
            a.text-muted(href='#') Final resource
      .col-6.col-md
        h5 About
        ul.list-unstyled.text-small
          li
            a.text-muted(href='#') Team
          li
            a.text-muted(href='#') Locations
          li
            a.text-muted(href='#') Privacy
          li
            a.text-muted(href='#') Terms
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
script(src="/javascripts/Posts/posti.js")
